.cards {
  background-color: $color-gray-light;
  padding: 2rem;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;

  @include respond(tab-port) {
    grid-gap: 0.5rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      font-size: 1.4rem;
    }
  }

  &__img {
    height: 8vw;
    display: flex;
    align-items: center;

    @include respond(phone) {
      height: 15vw;
    }
  }
}
