.clients {
  background: $color-gray-extra-light;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  align-items: center;
  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__img {
    width: 100%;
    max-height: 6rem;
    display: flex;
    object-fit: contain;

    @include respond(tab-port) {
      max-height: 4rem;
    }
  }
}
