.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    $color-primary,
    $color-primary-dark
  );

  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 1.5rem;

  &__icon {
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
  }

  &__line {
    position: relative;
    height: 100%;
    width: 1.5rem;
    border-radius: 0.5rem;
    display: block;
    background: $color-white;

    &--left {
      animation: tallShort 1000ms ease-in-out infinite;
    }
    &--center {
      animation: tallShort 1000ms ease-in-out 100ms infinite;
    }
    &--right {
      animation: tallShort 1000ms ease-in-out 200ms infinite;
    }
  }

  &__text {
    font-size: 2rem;
  }
}
