.titles {
  font-family: "Playfair Display", serif;
  color: $color-primary;
  font-size: 3rem;
  font-weight: normal;
  text-shadow: $text-shadow;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }
  @include respond(phone) {
    font-size: 2.3rem;
  }

  &--c {
    text-align: center;
  }
}

.titles-sm {
  font-family: "Playfair Display", serif;
  color: $color-primary;
  font-size: 2rem;
  font-weight: normal;
  text-shadow: $text-shadow-dark;
}

.small-h {
  font-weight: 500;
  color: $color-primary;
  font-size: 2rem;
  text-align: center;

  @include respond(tab-port) {
    font-size: 1.6rem;
  }
}
